# Secret key for BetterAuth (Use a strong, random secret)
BETTER_AUTH_SECRET=<your_better_auth_secret>

# The base URL of your application (Update this for production)
BETTER_AUTH_URL=http://localhost:3000  # Change this to your production domain in deployment


# PostgreSQL Database Connection URL (Use environment variables in production)
DATABASE_URL=postgresql://neondb_owner:npg_ObwnB4SFt2Mk@ep-divine-fire-ais3myun-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
# Google OAuth Credentials (Required for social login)
GOOGLE_CLIENT_ID=<your_google_client_id>
GOOGLE_CLIENT_SECRET=<your_google_client_secret>
